## .NET specific
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
tasks.txt

## Visual Studio files
.vs/
*.userprefs
*.usertasks
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## User settings
*.user
[Uu]ser[Ss]ettings/

# FFmpeg binaries
ffmpeg/x64/*.dll
ffmpeg/x86/*.dll